<!--  

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script src="{{ page.base_url }}assets/js/vendor/jquery/jquery-2.1.4.min.js"></script>

<script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>

<script src="{{ page.base_url }}assets/js/foundation.min.js"></script> 

<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>

-->


<!--

	
	
	<script src="{{ page.base_url }}assets/js/vendor/what-input.min.js"></script>
	<script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>



-->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<!-- Using: toggler.js for "Learn More"-->
	<script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>

	<script src="{{ page.base_url }}assets/js/vendor/lazysizes.min.js" async=""></script>

	<script src="{{ page.base_url }}assets/js/scripts.js"></script>

  </body>
</html>