<div class="top-bar-container" data-sticky-container>
  <!-- <div class="sticky" data-sticky data-options="anchor: showNav;  marginTop: 0; stickyOn: small;"> -->
    <div class="top-bar">
      <div class="row column">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">
              <div class="author-logo">
                <img src="{{page.base_url}}assets/img/logo-dark.png" alt="KB Logo">
              </div>
              <div class="author-info">
                <span class="author-name">Keith Burgie</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>About</a></li>
            <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>Experience</a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!-- </div> --><!--/.sticky-->
</div>



<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="portfolio" data-btm-anchor="content:bottom">
    <div class="title-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <div class="author-logo">
            <img src="{{page.base_url}}assets/img/logo-dark.png" alt="KB Logo">
          </div>
          <div class="author-info">
            <span class="author-name">Keith Burgie</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="title-bar-right">
      <ul class="menu">
        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>About</a></li>
        <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>Experience</a></li>
        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a></li>
      </ul>
    </div>
  </div>
</div>