<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
      <ul class="vertical menu" data-drilldown>
        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>About</a></li>
        <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>Experience</a></li>
        <li><a href="#"><i class="fa fa-code" aria-hidden="true"></i>Portfolio</a></li>
        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a></li>
        <li><a href="#"><i class="fa fa-university" aria-hidden="true"></i>Education</a></li>
        <li><a href="#"><i class="fa fa-quote-left" aria-hidden="true"></i>Testimonials</a></li>
        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a></li>
        <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Resume</a></li>
      </ul>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="top-bar-container" data-sticky-container>
        <div class="sticky" data-sticky data-options="anchor: spaghetti; marginTop: 0; stickyOn: small;">
          <div class="top-bar">
            <div class="row column">
              <div class="top-bar-left">
                <ul class="menu">
                  <li class="menu-text">Keith Burgie</li>
                </ul>
              </div>
              <div class="top-bar-right">
                <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
              </div>
            </div>
          </div><!--/.top-bar-->
        </div>
      </div>
      <p>content goes here...</p>
    </div><!--/.off-canvas-content-->
  </div><!--/.off-canvas-wrapper-inner-->
</div><!--/.off-canvas-wrapper-->